@import url('https://fonts.googleapis.com/css2?family=Itim&family=Jost:ital,wght@0,100..900;1,100..900&family=Moon+Dance&family=Saira:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

*{
  font-family: Saira, sans-serif;
  
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}


@theme{
  --color-dark-100: #1a1a1a;
  --color-dark-200: #1f1f1f;
  --color-dark-300: #2d2d2d;
  --color-light-400: #3d3d3d;
  --color-purple:#8b5cf6;
  --color-pink: #ec4899;
  --color-blue: #3b82f6;
}

.typewriter {
  overflow: hidden; 
  border-right: .15em solid #8b5cf6; 
  white-space: nowrap; 
  width: 0;
  animation: typing 3.5s steps(22, end) forwards, blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 19ch }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #8b5cf6; }
}